

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 100px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 3px 5px 10px #434040;
    margin-top: 80px;
    margin: 20px;
    transition: box-shadow 0.2s linear;
    flex-wrap: wrap;
}
    .card:hover {
        box-shadow: 7px 14px 30px #434040;
    }


.card-name {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.card-desc {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}

.card-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.card-counter {
    display: flex;
    align-items: center;
}

.card-counter input {
    font-family: Gilroy-Medium,sans-serif;
    background: none;
    border: 0;
    outline: 0;
    font-size: 18px;
    text-align: center;
    padding: 0 5px;
    width: 29px;
}

.btn {
    background-color: #305478;
    padding: 3px;
    text-decoration: none;
    color: #eee;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

    .btn:hover {
        background-color: #00008b;
    }
